body {
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

li {
    display: list-item;
    transition: .2s;
    width: fit-content;
}

li:hover {
    transform: scale(1.1);
}

.content {
    margin: auto;
    max-width: 1200px;
}

.skill-list {
    padding-left: 25px;
}

.skill-list-header {
    margin-bottom: 0;
}

.skill-list-holder {
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
}