body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

.content {
    margin: auto;
    max-width: 1200px;
}

.skill-list {
    padding-left: 25px;
}

.skill-list-holder {
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
}

#skill-list-header {
    margin-bottom: 0;
}